.tequila-section {
    .tequila-header {
        height: 200px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 30px;

        img#tequila-icon-2 {
            width: 80px;
            vertical-align: top;
            margin-right: 20px;
        }

        h1 {
        }

        a {
            display: flex;
            align-items: center;
            color: white;
            font-size: 1.3em;
            text-decoration: none;

            img {
                width: 30px;
            }
        }
    }

    .tequila-info {
        padding: 30px;
        width: 1200px;
        margin: 0 auto;

        .tequila-description {
            > * {
                margin-bottom: 10px;
            }

            .tequila-name {
                font-size: 3em;
            }

            .tequila-brand {
                font-size: 2em;
            }

            .tequila-serial-no {
                font-size: 1.2em;
            }
        }
    }

    .tequila-attributes {
        margin-top: 30px;

        .tequila-attribute {
            font-size: 1.5em;
            margin-bottom: 10px;

            .tequila-attribute-prop {
                font-weight: 700;
                margin-right: 10px;
            }

            .tequila-attribute-value {

            }
        }
    }

    .tequila-img-container {
        text-align: right;

        #tequila-img {
            height: 500px;
        }
    }
}