@import url('https://fonts.googleapis.com/css?family=Pacifico');

.heading {
    padding: 20px;
    color: white;

    h1 {
        font-family: 'Pacifico', sans-serif;
        font-size: 3em;

        @media screen and (max-width: 768px) {
            font-size: 1.8em;
        }
    }

    .left-item {
        display: flex;
    }

    .right-item {
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.5em;
    }
}