.container {
    color: white;
    text-align: center;
    padding-top: 50px;

    h1 {
        font-family: 'Pacifico';
        font-size: 3em;
    }

    button, input {
        color: white;
    }
}