.result-item {
    color: white;
    padding: 10px;

    .result-item-wrap {
        border: 2px solid white;
        padding: 40px 20px;
        border-radius: 5px;
    }

    .result-item-date {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .result-item-condition {
        font-size: 2em;
    }

    .result-item-degrees{
        font-size: 2.5em;
        margin-bottom: 20px
    }
}