.register-container {
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
}

.form-control {
    width: 100%;
}