.simple-select-label {
    color: white !important;
}

.simple-select {
    .MuiSelect-select-180.MuiSelect-selectMenu-183.MuiSelect-filled-181.MuiInputBase-input-143.MuiFilledInput-input-128 {
        color: white !important;
    }

    border-bottom: 1px solid white;

    svg {
        color: white;
    }
}

li {
    color: black !important;
}